<h1 style="color: red;">Alla recept </h1>
<%= link_to 'Skapa recept', new_recept_path, class: 'btn btn-default' %>
<% @recepts.each do |recept| %>
    <div class="row-fluid">
      <div>
        <h3>
          <%= link_to recept.title, recept_path(recept), style: 'text-decoration: none !Important;' %>

        </h3>

      </div>
      <div>
        <%= image_tag recept.image.url(:thumb) if recept.image.exists? %>

      </div>
      <div>
        <p><%= recept.description %></p>

      </div>
      <hr/>
    </div>



<% end %>